body {
 
    padding-top: 70px;
    background-image: "./../images/nyt.png"
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.container {
       background-image: "./../images/nyt.png"
}